#p1{
    background-color: black;
    color: #00FF00;
}
#p2{
    background-color: black;
    color: #00EE00;
}
#p3{
    background-color: black;
    color: #00DD00;
}
#p4{
    background-color: black;
    color: #00CC00;
}
#p5{
    background-color: black;
    color: #00BB00;
}
#p6{
    background-color: black;
    color: #00AA00;
}
#p7{
    background-color: black;
    color: #009900;
}
#p8{
    background-color: black;
    color: #008800;
}
#p9{
    background-color: black;
    color: #007700;

}
#p10{
    background-color: black;
    color: #006600;
}