#FF0000{
    background-color: #FF0000;
}

#EE0000{
    background-color: #EE0000;
}

#DD0000{
    background-color: #DD0000;
}

#CC0000{
    background-color: #CC0000;
}

#BB0000{
    background-color: #BB0000;
}

#AA0000{
    background-color: #AA0000;
}

#N990000{
    background-color: #990000;
}

#N880000{
    background-color: #880000;
}

#N770000{
    background-color: #770000;
}

#N660000{
    background-color: #660000;
}