

#dies{
    background-color: #915ef0;
}

th, td{
    border: 1px solid black;
}

#hora{
    background-color: #8a57bb;
}

#sintesi{
    background-color: aquamarine;
}

#SOX{
    background-color: beige;
}

#SX{
    background-color: bisque;
}

#tutoria{
    background-color: aqua;
}

#AppWeb{
    background-color: chocolate;
}

#EiE{
    background-color: cadetblue;
}

#pati{
    background-color: cornflowerblue;
}

#seguretat{
    background-color: coral;
}

#blank{
    background-color: darkgray;
}

#english{
    background-color: darkolivegreen;
}